.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  top: 0;
  transition: all 1s ease-in-out;
}

.navbar-move-out {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  top: -64px;
  transition: all 1s ease-in-out;
}

.controls-btn {
  margin-left: 6px;
}

.header-logo {
  margin: 0px 1rem;
  font-size: 4.05rem;
}

.logo-container {
  border-radius: 4px;
}

.btns-right-container {
  margin-right: 6px;
}

@media (max-width: 990px) {
  .header-logo {
    font-size: 2.92rem;
  }
}

@media (max-width: 750px) {
  .header-logo {
    display: none;
  }
}
