/* SignInSignUp  */
.sign-in-sign-up-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  background-image: url('./main-image.jpg');
  background-size: cover;
}

/* AuthForms */
.auth-form-container {
 height: fit-content;
  margin: 10px;
  padding: 5px;
  background-color: burlywood;
}

/* GameDescription */
.description-container {
  height: 100%;
  margin: 5rem 10px;
  padding: 10px;
  max-width: 40%;
  background-color: burlywood;
}
.User{
  background-image: url('./main-image.jpg');
  background-size: cover;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.User-container {
  margin-top: 10vh;
  padding: 10px;
  height: 70%;
  max-width: 40%;
  background-color: burlywood;
}
a{
  color: black;
}
